P.T {
text-decoration:none;
font-family:Arial;
font-size:16pt;
color:#000000;
font-weight:bold;
letter-spacing: 0 pt;
}

P.S {
text-decoration:none;
font-family:Arial;
font-size:16pt;
color:#000000;
font-weight:bold;
letter-spacing: 0 pt; 
}

P.C {
text-decoration:none;
font-family:Arial;
font-size:16pt;
color:#FF0000;
font-weight:bold;
letter-spacing: 0 pt; 
}

P.L {
text-decoration:none;
font-family:Courier;
font-size:16pt;
color:#000000;
font-weight:bold;
letter-spacing: 0 pt; 
}

P.breakhere {
page-break-before: always
}

P.blocktext {
    margin-left: 1px;
}
